:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-vark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --space: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
}

h1 {
  color: var(--very-vark-blue);
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

.container {
  overflow: hidden;
  max-width: 1480px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space);
  padding-right: var(--space);
}

.header {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left h1 {
  line-height: 0;
}

.header__left,
.header__right {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: var(--space);
}

.header__menu {
  margin-top: 7px;
}

.header__nav {
  display: none;
}

.header__nav.reveal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.header__nav.reveal .header__nav-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: var(--space);
  background: white;
  color: var(--very-vark-blue);
  font-weight: 700;
  font-size: 1.1em;
}

.header__nav.reveal .header__close {
  margin-bottom: calc(var(--space) * 2);
}

.header__nav.reveal .header__nav-items > *:not(:last-child) {
  margin-bottom: var(--space);
}

.header__avatar {
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.slide-front {
  position: relative;
}

.slide-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  cursor: pointer;
}

.slide-btn.next {
  right: 0;
}

.slide-front__imgs {
  margin-left: -33.33%;
  margin-right: -33.33%;
}

.slide-front__imgs img {
  display: inline-block;
  height: 300px;
  width: 100%;
}

.slide-front__imgs img:not(.current),
.slide-thumbnails {
  display: none;
}

.product-slide {
  margin-bottom: 20px;
}

.product-slide__second {
  display: none;
}

.product-details > *:not(:last-child) {
  margin-bottom: 15px;
}

.product-text__name {
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--orange);
}

.product-text__title {
  line-height: 1;
  font-size: 1.75em;
  text-transform: capitalize;
  color: var(--very-vark-blue);
}

.product-prices {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.product-prices-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-prices__current {
  font-size: 1.8em;
  color: var(--very-vark-blue);
}

.product-prices__discount {
  padding: 0 7px;
  width: min-content;
  border-radius: 3px;
  color: var(--orange);
  background: var(--pale-orange);
}

.product-prices__old {
  margin-left: auto;
  text-decoration: line-through;
  color: var(--grayish-blue);
}

.product-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-quantity {
  min-width: 150px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  font-weight: 700;
  color: var(--very-vark-blue);
  background: var(--light-grayish-blue);
}

.product-add {
  min-width: 200px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .slide-btn {
    transform: translate3d(50%, -50%, 0);
  }

  .slide-btn.next {
    transform: translate3d(-50%, -50%, 0);
  }

  .slide-front__imgs {
    margin: 0;
  }

  .slide-front__imgs img {
    height: 50vh;
    border-radius: 15px;
  }
}

@media screen and (min-width: 750px) {
  .product {
    column-gap: 50px;
    justify-content: space-evenly;
  }

  .slide {
    min-width: 400px;
    max-width: 500px;
  }

  .slide-close {
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .slide-btn {
    height: 50px;
    width: 50px;
    transform: translate3d(-50%, -50%, 0);
  }

  .slide-btn.next {
    transform: translate3d(50%, -50%, 0);
  }

  .slide-front__imgs {
    margin: 0;
  }

  .slide-front__imgs img {
    height: 100%;
  }

  .slide-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }

  .slide-thumbnails__img img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s;
  }

  .slide-thumbnails__img img:hover {
    opacity: 0.3;
  }

  .slide-thumbnails__img {
    overflow: hidden;
    border-radius: 13px;
    border: 2px solid transparent;
  }

  .slide-thumbnails__img.current {
    border-color: var(--orange);
  }

  .slide-thumbnails__img.current img {
    opacity: 0.3;
  }

  .product-slide__second {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product {
    display: flex;
    align-items: center;
    height: calc(100vh - 105px);
  }

  .product-img {
    margin-bottom: 20px;
  }

  .product-prices {
    display: block;
  }

  .product-details {
    max-width: 500px;
  }

  .header {
    box-shadow: 0 1px 0 var(--grayish-blue);
  }

  .header__left,
  .header__right {
    gap: calc(var(--space) + 2.5vw);
  }

  .header__nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--space) * 2);
  }

  .header__avatar {
    height: 50px;
    width: 50px;
  }

  .header__nav {
    display: block;
  }

  .header__menu,
  .header__close {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .product-text__name {
    font-size: 1em;
  }

  .product-text__title {
    font-size: 3em;
  }

  .product-btns {
    flex-direction: row;
  }
}
