:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-vark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --space: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--dark-grayish-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--very-vark-blue);
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 10px 10px 11px 3px var(--pale-orange);
  font-size: 1em;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
  transition: opacity 0.3s;
}

button.blank {
  all: unset;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1480px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space);
  padding-right: var(--space);
  overflow: hidden;
}

.cart {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: absolute;
  min-width: 350px;
  max-width: max-content;
  top: 10%;
  right: var(--space);
  min-height: 250px;
  width: calc(100% - (var(--space) * 2));
  z-index: 7;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  transition: 0.3s;
}

.cart.reveal {
  opacity: 1;
  visibility: visible;
}

.cart-title,
.cart-content {
  padding: var(--space);
}

.cart-title {
  color: var(--very-vark-blue);
}

.cart-content {
  display: grid;
  place-items: center;
  gap: var(--space);
  border-top: 1px solid rgb(218, 218, 218);
}

.cart-items {
  display: grid;
  gap: var(--space);
}

.cart-item {
  display: flex;
  align-items: center;
  gap: var(--space);
}

.cart-item__img {
  height: 50px;
  width: 50px;
  border-radius: 7px;
}

.cart-item__text h3 {
  font-weight: 400;
  font-size: 1rem;
}

.cart-empty {
  font-weight: 700;
  text-align: center;
}

.header {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left h1 {
  line-height: 0;
}

.header-left,
.header-right {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: var(--space);
}

.header-menu {
  margin-top: 7px;
}

.header-menu,
.header-close {
  cursor: pointer;
}

.header-nav {
  display: none;
}

.header-nav.reveal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.75);
}

.header-nav.reveal .header-nav__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: var(--space);
  background: white;
  color: var(--very-vark-blue);
  font-weight: 700;
  font-size: 1.1em;
}

.header-nav.reveal .header-close {
  margin-bottom: calc(var(--space) * 2);
}

.header-nav.reveal .header-items > *:not(:last-child) {
  margin-bottom: var(--space);
}

.header-avatar {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.header-avatar:hover {
  border-color: var(--orange);
}

.header-cart {
  cursor: pointer;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.slide-front {
  position: relative;
}

.slide-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  cursor: pointer;
  color: var(--black);
  transition: .3s;
}

.slide-btn:hover {
  color: var(--orange);
}

.slide-btn.next {
  right: 0;
}

.slide-front__imgs {
  margin-left: -33.33%;
  margin-right: -33.33%;
}

.slide-front__imgs img {
  display: inline-block;
  height: 300px;
  width: 100%;
}

.slide-front__imgs img:not(.current),
.slide-thumbnails {
  display: none;
}

.product-slide {
  margin-bottom: var(--space);
}

.product-slide__second {
  display: none;
}

.product-details > *:not(:last-child) {
  margin-bottom: 15px;
}

.product-text__name {
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--orange);
}

.product-text__title {
  line-height: 1;
  font-size: 1.75em;
  text-transform: capitalize;
  color: var(--very-vark-blue);
}

.product-prices {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.product-prices-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-prices__current {
  font-size: 1.8em;
  color: var(--very-vark-blue);
}

.product-prices__discount {
  padding: 0 7px;
  width: min-content;
  border-radius: 3px;
  color: var(--orange);
  background: var(--pale-orange);
}

.product-prices__old {
  margin-left: auto;
  text-decoration: line-through;
  color: var(--grayish-blue);
}

.product-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-quantity {
  min-width: 150px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  font-weight: 700;
  color: var(--very-vark-blue);
  background: var(--light-grayish-blue);
}

.product-quantity__action {
  cursor: pointer;
}

.product-add {
  min-width: 200px;
}

.product-add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 500px) {
  .slide-btn {
    transform: translate3d(50%, -50%, 0);
  }

  .slide-btn.next {
    transform: translate3d(-50%, -50%, 0);
  }

  .slide-front__imgs {
    margin: 0;
  }

  .slide-front__imgs img {
    height: 50vh;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 750px) {
  .cart {
    top: 11%;
  }

  .slide-btn:not(.reveal) {
    display: none;
  }

  .header-item {
    position: relative;
  }

  .header-item::before {
    content: '';
    height: 5px;
    position: absolute;
    bottom: -150%;
    left: 0;
    right: 0;
    background: var(--orange);
    opacity: 0;
    transition: 0.3s;
  }

  .header-item:hover::before {
    opacity: 1;
  }

  .product {
    column-gap: 50px;
    justify-content: space-evenly;
  }

  .slide {
    min-width: 400px;
    max-width: 500px;
  }

  .slide-close {
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .slide-btn {
    height: 50px;
    width: 50px;
    transform: translate3d(-50%, -50%, 0);
  }

  .slide-btn.next {
    transform: translate3d(50%, -50%, 0);
  }

  .slide-front__imgs {
    margin: 0;
  }

  .slide-front__imgs img {
    height: 100%;
  }

  .slide-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }

  .slide-thumbnails__img {
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    border: 2px solid transparent;
    cursor: pointer;
  }

  .slide-thumbnails__img.current {
    border-color: var(--orange);
  }

  .slide-thumbnails__img img {
    height: 100%;
    width: 100%;
  }

  .slide-thumbnails__img .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  .slide-thumbnails__img:hover .inner,
  .slide-thumbnails__img.current .inner {
    visibility: visible;
    opacity: 1;
  }

  .product-slide__second {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product {
    display: flex;
    align-items: center;
    height: calc(100vh - 105px);
  }

  .product-img {
    margin-bottom: var(--space);
  }

  .product-prices {
    display: block;
  }

  .product-details {
    max-width: 500px;
  }

  .header {
    box-shadow: 0 1px 0 var(--grayish-blue);
  }

  .header-left,
  .header-right {
    gap: calc(var(--space) + 2.5vw);
  }

  .header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--space) * 2);
  }

  .header-avatar {
    height: 50px;
    width: 50px;
  }

  .header-nav {
    display: block;
  }

  .header-menu,
  .header-close {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .product-text__name {
    font-size: 1em;
  }

  .product-text__title {
    font-size: 3em;
  }

  .product-btns {
    flex-direction: row;
  }
}
